.contact {
    background-color: $color-2;
    color: $color-1;
    &__block {
        background: $color-5;
        @include flex(row, center, center);
        padding-bottom: 50px;
    }
}

.enveloppe{
        background-color: $color-2;
        color: $color-1;
        height: 78px;
        border-radius: 50px;
        padding: 10px;
    }

