.header {
  height: 150px;
  width: 100%;
  background: $color-1;
    @include flex(row,center, center);
    margin: 0;
    gap: 120px;
    @media (min-width: 1400.01px) {
      gap: 50px;
    }
    @media (max-width: 1400px) {
      gap: 40px;
    }
    @media (max-width: 804px) {
     height: 200px;
    }
    @media (max-width: 596px) {
      height: 300px;
     }   

    &__image {
        & img {   
            border-radius: 50px;
        @media (max-width: 450px) {
          height: 70px;
         }  
      }
    }
    &__links {
      @include flex(row, center, center);
      gap: 60px;
      @media (min-width: 1400px) {
        flex-wrap: wrap;
        @include font(22px, 700);
        gap: 30px;
      }
      @media (max-width: 1400px) {
        flex-wrap: wrap;
        gap: 20px;
      }
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        gap: 10px;
      }
      @media (max-width: 596px) {
        @include flex(column, center, center);
      
      }
     
      
      & a {
        padding: 10px;
        text-decoration: none;
        color: $color-2;
        border-radius: 5px;
        @include font(24px, 500);
        @media (max-width: 804px) {
          @include font(20px, 500);
        }
        @media (max-width: 699px) {
          @include font(16px, 500);
        }
        @media (max-width: 596px) {
          @include font(16px, 500);
        }
      }
    }
  }

  .nav-active {
    position: relative;
    &:hover {
        background: $color-2;
        color: $color-1;
    }
 
  }

  .logo-portrait {
    @media (max-width: 1400px) {
      margin-left: 30px;
    }
    // @media (max-width: 596px) {
    //   margin-left: 10px;
    // }
  }
  .logo-github {
    @media (max-width: 1400px) {
      margin-right: 30px;
    }
    & img {
       @media (max-width: 450px) {
        height: 70px;
       }  
    }

  }